div {
    z-index: 1000;
    color: green;
}

.a-canvas {
    width: 50%;
    height: 50%;
    right: 0%;
    top: 1px;
    left: 50%;
    position: absolute;
}

.BoxUi {
    width: 30vw;
    height: 30vw;
    background-color: blanchedalmond;
}